.HeaderStyle{
  font-size: 25px;
  text-align: center;
  background:black;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
}
.PageButton{
  border-radius: 3%;
  padding: 5px;
  font-size: medium;
  margin-bottom: 5px;
  border: 1px solid black;
  background: cornflowerblue;
}
.FORMSHOW{
  font-size: 18px;
}
.FORMDATA{
  font-size: 15px;
}
.SUBMITBUTTON{
  margin-top: 10px;
  border: 1px solid black;
  background: lightgreen;
  padding: 3px;
  font-size: 15px;
}
.USER{
  display: block;
}
.PHONE{
  display: block;
  margin-top: -13px;
}
.Table{
  width: 100%;
  margin-top: 20px;
}
.TableHead{
  color: red;
    font-size: larger;
}
.TableBody{
  text-align: center;
}